* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #621d9f;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    padding: 20px;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.welcome-screen h2 {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #333;
    text-align: center;
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    button {
        padding: 15px;
        font-size: 1em;
    }

}